<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Brello.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBA2C65D1F19A2EE002C2345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA2C6741F19A2EE002C2345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA2C67F1F19A2EE002C2345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
